*.o
*.lo
*.la
*.al
*.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
*.#*
.*.swp
.DS_store

/*.sdf
/*.suo
/.settings
/.autotools
/.project
/.cproject


# Generated
autom4te.cache
build-aux

src/.deps
src/Makefile
src/Makefile.in

aclocal.m4
config.h
config.h.in
config.log
config.status
configure
libtool
Makefile
Makefile.in
mysqlattributeresolver.spec
stamp-h1
